---
import { ViewTransitions } from 'astro:transitions'

const { title = "Oke Laundry" } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + ' Admin'}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<script>
			const isAdmin = localStorage.getItem('isAdmin')

			const authToken = localStorage.getItem('authToken')
			const restrictedPages = ['/admin/login', '/admin/register', '/admin/manager']
			const currentPage = window.location.pathname

			if (!isAdmin && authToken) {
				window.location.href = '/'
			} else if (!authToken && !restrictedPages.includes(currentPage)) {
				window.location.href = '/admin/login'
			} else if (authToken && isAdmin && restrictedPages.includes(currentPage)) {
				window.location.href = '/admin'
			}
		</script>
	</body>
</html>
